################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wooCommerceAssistant
/packages/WooCommerceNET.0.8.6
/UpdateProduct/bin/Debug
/UpdateProduct/obj/Debug
/packages
